.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 700px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}