.WeatherForecast {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}