.Weather {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid #0dcaf0;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.Weather h1 {
    font-size: 30px;
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 29px;
}

.Weather ul {
    margin: 5px 5px 5px 0;
}

.Weather li {
    font-size: 15px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 60px;
    font-weight: 400;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

.Weather .date {
    padding: 5px 5px 5px 12px;
}